/* basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper > * {
    padding: 20px;
}

.page-main {
    flex-grow: 1;
    
}

.page-header{
    background-color: rgba(90, 90, 90, 0.35);

}

.page-header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.page-header .nav-menu {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.page-header ul {
    display: flex;
    order: 1;
    width: 100%;
    margin-top: 15 px;
    padding-left: 0px;
}

.page-header li {
    display: inline-block;
    margin-left: 13px;
}

@media screen and (min-width:550px){
    .page-header ul{
        width: auto;
        margin-top: 0;
    }

    .page-header .cta-contact {
        order: 1;
    }
}
.logo {
    font-family: 'Courier New', Courier, monospace;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    font-family: Roboto, 'Helvetica Neue';
    font-weight: 300;
    color: #000000;
    text-align: center;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    margin: 0;
    transition: all 0.25s;
}

.menu a:hover {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color: #ffffff;
}

.cta-contact{
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #ffffff;
    border-radius: 0.12em;
    margin: 0 0.2em 0.2em 0;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300 ;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(90, 90, 90, 0.35);
    text-align: center;
    transition: all 0.15s;
    background-color: #ffffff00;
}

.cta-contact:hover {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:rgb(73, 73, 73);
    border-color:#FFFFFF;
    background-color: #ffffff;
}

/* variables */
:root {
    --main-white-color: white;
    --main-purple-color: #9e89b8;
    --main-silver-color: #928e8e;

}

.page-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;
    background: var(--main-silver-color) no-repeat center / cover;
    background-blend-mode: luminosity;
    color: var(--main-white-color);

}

.page-main div {
    max-width: 500px;
}

.page-main .contents-art{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contents {
    padding: 10px 5px 10px 5px;
    margin: 5px;
}


.contents header {
    padding-bottom: 5px;
}

.page-main aside {
    width: 200px;
}
.page-main aside li{
    display: inline-block;
    margin: 7px 5px 3px 5px;
}
.page-main aside img {
    width: 80px;
    height: 80px;
}
@media screen and (min-width: 768px) {
    .page-main {
        padding-left: 90px;
        flex-direction: row;
        justify-content: space-between;
    }

    .page-main aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width:500px){
    .page-main aside img {
        width: 40px;
        height: 40px;
    }
}

.page-footer {
    display: flex;
    flex-direction: column-reverse;
}

.page-footer ul {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 5px;
    padding-left: 0px;
}

.page-footer li {
    display: inline;
    margin-left: 10px;

}

.page-footer #foot-nav a {
    text-decoration: none;
}

.page-footer #foot-nav img {
    width: 25px;
    height: 25px;
}

@media screen and (min-width:550px) {
    .page-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .page-footer ul {
        margin-bottom: 0;
        padding-left: 0px;
    }

}

