
body {
  background-color: #f2f2f2 ;
}
#app {
  height: 100vh;
  width: 100vw;
  background: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #f2f2f2;
}
.navbar-brand {
  font-weight: 600 !important;
  font-size: 1.6rem !important;
  color: #666666 !important;
}

.content {
  padding-top: 70px !important;
}